_*/
*vscode*
build/
cmake-build-*
docs/gen/*
docs/out/*
.vs
out
CMakeSettings.json
.match3D
.anari_deps

# cts
cts/anari_library_debug*
cts/anari_library_example*
cts/*pyd
*.log
cts/evaluation
*.png
cts/*.dll
cts/*.exp
cts/*.lib
cts/*.ilk
cts/*.pdb
cts/gltf-Sample-Assets
